body {
  color: rgb(6, 2, 2);
}

input {
  border-radius: 5px;
  padding: 5px;
  margin: 2px, 5px;
  width: 300px;
}

.input-area {
  background-color: rgb(192, 242, 247);
  border: none;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  width: 606px;
}

.incomplete-area {
  background-color: rgb(250, 190, 214);
  border: solid, rgb(248, 82, 110);
  min-height: 300px;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  width: 600px;
}

.completed-area {
  background-color: rgb(248, 244, 204);
  border: solid, rgb(194, 194, 104);
  min-height: 300px;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  width: 600px;
}

.list-row {
  display: flex;
  align-items: center;
}

button {
  border-radius: 5px;
  background-color: rgb(208, 253, 238);
  color: black;
  margin: 5px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(14, 69, 69);
  color: white;
}

.todo-item {
  margin: 5px;
}
